---
// @ts-expect-error
import { SiteConfig, db } from 'astro:db';
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const ConfigArray = await db.select().from(SiteConfig);
const contextConfig = ConfigArray[0];
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={contextConfig.title} description={contextConfig.description} />
	</head>
	<body>
		<Header title={contextConfig.title} />
		
		<slot />

		<Footer />
	</body>
</html>
