---
import BaseHead from "../components/BaseHead.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={"Astro-Studio-CMS Setup"} description={"Setup page for Astro-Studio-CMS"} />
	</head>
	<body>		
		<slot />
	</body>
</html>
