# root (Exalted)
* @adammatthiesen @jdtjenkins @dreyfus92

# branding (Exalted)
/www/assets/ @adammatthiesen @jdtjenkins @dreyfus92

# docs and web site (Exalted & Revered(added when they are lead of such feature))
/www/web/ @adammatthiesen @jdtjenkins @dreyfus92
/www/docs/ @adammatthiesen @jdtjenkins @dreyfus92

# packages (Exalted & Revered(added when they are lead of such feature))
/packages/studiocms @adammatthiesen @jdtjenkins @dreyfus92
/packages/studiocms_assets @adammatthiesen @jdtjenkins @dreyfus92
/packages/studiocms_auth @adammatthiesen @jdtjenkins @dreyfus92
/packages/studiocms_betaresources @adammatthiesen @jdtjenkins @dreyfus92
/packages/studiocms_blog @adammatthiesen @jdtjenkins @dreyfus92
/packages/studiocms_core @adammatthiesen @jdtjenkins @dreyfus92
/packages/studiocms_dashboard @adammatthiesen @jdtjenkins @dreyfus92
/packages/studiocms_frontend @adammatthiesen @jdtjenkins @dreyfus92
/packages/studiocms_imagehandler @adammatthiesen @jdtjenkins @dreyfus92
/packages/studiocms_renderers @adammatthiesen @jdtjenkins @dreyfus92
/packages/studiocms_robotstxt @adammatthiesen @jdtjenkins @dreyfus92
/packages/studiocms_ui @louisescher @adammatthiesen @jdtjenkins @dreyfus92
