.select-label {
	width: fit-content;
	display: flex;
	flex-direction: column;
	gap: .25rem;
	min-width: 200px;
	position: relative;
}

.select-label.full {
	width: 100%;
}

.select-label.disabled {
	opacity: 0.5;
	pointer-events: none;
	color: hsl(var(--text-muted));
}

.label {
	font-size: 14px;
}

.req-star {
	color: hsl(var(--danger-base));
	font-weight: 700;
}

.select-button {
	padding: .65rem .75rem .65rem 1rem;
	border-radius: 8px;
	border: 1px solid hsl(var(--border));
	background: hsl(var(--background-step-2));
	color: hsl(var(--text-normal));
	transition: all .15s ease;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	gap: 1rem;
}

.select-button:hover {
	background: hsl(var(--background-step-3));
}

.select-button.active,
.select-button:active,
.select-button:has(+ .select-dropdown.active) {
	border: 1px solid hsl(var(--primary-base));
	background: hsl(var(--background-step-2));
}

.select-dropdown {
	position: absolute;
	width: 100%;
	border: 1px solid hsl(var(--border));
	list-style: none;
	margin: 0;
	padding: 0;
	flex-direction: column;
	border-radius: .5rem;
	background-color: hsl(var(--background-step-2));
	overflow: hidden;
	top: calc(100% + .25rem);
	left: 0;
	display: none;
	z-index: 90;
	box-shadow: 0px 4px 8px hsl(var(--shadow), 0.5);
}

.select-dropdown.active {
	display: flex;
}

.select-dropdown.above {
	top: auto;
	bottom: calc(100% - 18px + .25rem);
}

.select-option {
	padding: .5rem;
	cursor: pointer;
	font-size: .975em;
	transition: all .15s ease;
}

.select-option.disabled {
	pointer-events: none;
	color: hsl(var(--text-muted));
}

.select-option:hover {
	background-color: hsl(var(--background-step-3));
}

.select-option.selected {
	background-color: hsl(var(--primary-base));
	color: hsl(var(--text-inverted));
	cursor: default;
}

.hidden-select {
	height: 0;
	width: 0;
	border: none;
	outline: none;
	position: absolute;
	background-color: transparent;
	pointer-events: none;
	opacity: 0;
}
