---
import '@fontsource-variable/onest/index.css';
import '@studiocms/ui/css/global.css';

import { Button, Center, Divider, Input, Row, Textarea, User } from '@studiocms/ui/components';

import CardTests from '@/components/CardTests.astro';
import CheckboxTests from '@/components/CheckboxTests.astro';
import DropdownTests from '@/components/DropdownTests.astro';
import ModalTests from '@/components/ModalTests.astro';
import RadioGroupTests from '@/components/RadioGroupTests.astro';
import SelectTests from '@/components/SelectTests.astro';
import ToastTests from '@/components/ToastTests.astro';
import ToggleTests from '@/components/ToggleTests.astro';
import Icon from '@/utils/Icon.astro';
import ButtonTests from '../components/ButtonTests.astro';
---

<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Component Tests</title>
  </head>
  <body>
    <Button id={'color-toggle'}>
      <Icon name={'sun'} id={'sun-icon'} />
      <Icon name={'moon'} id={'moon-icon'} class={'hidden'} />
    </Button>
    <h1>Button</h1>
    <ButtonTests />
    <h1>Divider</h1>
    <Divider>
      Divider Content
    </Divider>
    <h1>Input</h1>
    <Input
      label='Text Input'
      type='text'
      isRequired
    />
    <Input
      label='Password Input'
      type='password'
    />
    <Input
      label='Disabled Input with default Text'
      type='text'
      disabled
      defaultValue='Disabled Input Text'
    />
    <h1>Row</h1>
    <Row
      gapSize='md'
      alignCenter
    >
      <Input
        label='Row-ed Input'
        type='text'
      />
      <Input
        label='Row-ed Input 2'
        type='text'
      />
    </Row>
    <h1>Center</h1>
    <Center>
      Centered Stuff
    </Center>
    <h1>Textarea</h1>
    <Textarea
      label='Normal (Required)'
      placeholder='Placeholder'
      isRequired
    />
    <Textarea
      label='Normal (With Resize)'
      placeholder='Placeholder'
      resize
    />
    <Textarea
      label='Disabled (With default value & full size)'
      placeholder='Placeholder'
      fullWidth
      defaultValue={'This is some text content, \nwith Multiline'}
      disabled
    />
    <h1>Checkbox</h1>
    <CheckboxTests />
    <h1>Toggle</h1>
    <ToggleTests />
    <h1>Radio</h1>
    <RadioGroupTests />
    <h1>Toast</h1>
    <ToastTests />
    <h1>Card</h1>
    <CardTests />
    <h1>Modal</h1>
    <ModalTests />
    <h1>Select</h1>
    <SelectTests />
    <h1>Dropdown</h1>
    <DropdownTests />
    <h1>User</h1>
    <User name="Louis Escher" description='UI/UX & Developer' avatar='https://avatars.githubusercontent.com/u/66965600?v=4' />
  </body>
</html>
<style is:global>
  body {
    margin: 1rem;
  }

  h1:not(:first-of-type) {
    margin-top: 2rem;
  }

  .flex {
    display: flex;
    gap: 1rem;
  }

  .row {
    flex-direction: row;
  }

  .col {
    flex-direction: row;
  }

  .align-center {
    align-items: center;
  }

  .hidden {
    display: none;
  }

  #color-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 50;
  }

  .mt {
    margin-top: 1rem;
  }
</style>
<script>
  const toggle = document.getElementById('color-toggle')! as HTMLElement;
  const sunIcon = document.getElementById('sun-icon')! as HTMLElement;
  const moonIcon = document.getElementById('moon-icon')! as HTMLElement;

  toggle.addEventListener('click', () => {
    if (document.documentElement.dataset.theme === 'dark') {
      document.documentElement.dataset.theme = 'light';
      sunIcon.classList.add('hidden');
      moonIcon.classList.remove('hidden');
    } else {
      document.documentElement.dataset.theme = 'dark';
      moonIcon.classList.add('hidden');
      sunIcon.classList.remove('hidden');
    }
  });
</script>