---
import SidebarLayout from '@/layouts/SidebarLayout.astro';
import Icon from '@/utils/Icon.astro';
import { Button } from '@studiocms/ui/components';
---

<SidebarLayout
  title="Single Sidebar"
  description="Single Sidebar"
>
  <Button variant="outlined" color="primary" class="nav-toggle" id={'nav-toggle'}>
    <Icon name="hamburger" height={24} width={24} />
  </Button>
</SidebarLayout>
<script>
  import { SingleSidebarHelper } from "@studiocms/ui/components";

  new SingleSidebarHelper('nav-toggle');
</script>
<style>
  .nav-toggle {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: none;
    z-index: 40 !important;
  }

  @media screen and (max-width: 840px) {
    .nav-toggle {
      display: flex;
    }
  }
</style>