---
import { Button, Row } from '@studiocms/ui/components';
---

<h2>Sizes</h2>
<Row>
  <Button 
    size='sm'
  >
    <span>Small</span>
  </Button>
  <Button 
    size='md'
  >
    <span>Medium (Default)</span>
  </Button>
  <Button 
    size='lg'
  >
    <span>Large</span>
  </Button>
</Row>
<h2>Colors</h2>
<Row>
  <Button
    color='default'
  >
    <span>Default</span>
  </Button>
  <Button
    color='primary'
  >
    <span>Primary</span>
  </Button>
  <Button
    color='success'
  >
    <span>Success</span>
  </Button>
  <Button
    color='warning'
  >
    <span>Warning</span>
  </Button>
  <Button 
    color='danger'
  >
    <span>Danger</span>
  </Button>
</Row>
<h2>Outlined</h2>
<Row>
  <Button
    color='default'
    variant='outlined'
  >
    <span>Default</span>
  </Button>
  <Button
    color='primary'
    variant='outlined'
  >
    <span>Primary</span>
  </Button>
  <Button
    color='success'
    variant='outlined'
  >
    <span>Success</span>
  </Button>
  <Button
    color='warning'
    variant='outlined'
  >
    <span>Warning</span>
  </Button>
  <Button 
    color='danger'
    variant='outlined'
  >
    <span>Danger</span>
  </Button>
</Row>
<h2>Flat</h2>
<Row>
  <Button
    color='default'
    variant='flat'
  >
    <span>Default</span>
  </Button>
  <Button
    color='primary'
    variant='flat'
  >
    <span>Primary</span>
  </Button>
  <Button
    color='success'
    variant='flat'
  >
    <span>Success</span>
  </Button>
  <Button
    color='warning'
    variant='flat'
  >
    <span>Warning</span>
  </Button>
  <Button 
    color='danger'
    variant='flat'
  >
    <span>Danger</span>
  </Button>
</Row>
<h2>Disabled (Solid)</h2>
<Row>
  <Button
    color='default'
    disabled
  >
    <span>Default</span>
  </Button>
  <Button
    color='primary'
    disabled
  >
    <span>Primary</span>
  </Button>
  <Button
    color='success'
    disabled
  >
    <span>Success</span>
  </Button>
  <Button
    color='warning'
    disabled
  >
    <span>Warning</span>
  </Button>
  <Button 
    color='danger'
    disabled
  >
    <span>Danger</span>
  </Button>
</Row>
<h2>Disabled (Outlined)</h2>
<Row>
  <Button
    color='default'
    variant='outlined'
    disabled
  >
    <span>Default</span>
  </Button>
  <Button
    color='primary'
    variant='outlined'
    disabled
  >
    <span>Primary</span>
  </Button>
  <Button
    color='success'
    variant='outlined'
    disabled
  >
    <span>Success</span>
  </Button>
  <Button
    color='warning'
    variant='outlined'
    disabled
  >
    <span>Warning</span>
  </Button>
  <Button 
    color='danger'
    variant='outlined'
    disabled
  >
    <span>Danger</span>
  </Button>
</Row>
<h2>Disabled (Flat)</h2>
<Row>
  <Button
    color='default'
    variant='flat'
    disabled
  >
    <span>Default</span>
  </Button>
  <Button
    color='primary'
    variant='flat'
    disabled
  >
    <span>Primary</span>
  </Button>
  <Button
    color='success'
    variant='flat'
    disabled
  >
    <span>Success</span>
  </Button>
  <Button
    color='warning'
    variant='flat'
    disabled
  >
    <span>Warning</span>
  </Button>
  <Button 
    color='danger'
    variant='flat'
    disabled
  >
    <span>Danger</span>
  </Button>
</Row>