---
import { Button } from "@studiocms/ui/components";
---

<h2>Sizes</h2>
<div class="flex row align-center">
  <Button 
    as='button'
    size='sm'
  >
    <span>Small</span>
  </Button>
  <Button 
    as='button'
    size='md'
  >
    <span>Medium (Default)</span>
  </Button>
  <Button 
    as='button'
    size='lg'
  >
    <span>Large</span>
  </Button>
</div>
<h2>Colors</h2>
<div class="flex row align-center">
  <Button
    as='button'
    color='default'
  >
    <span>Default</span>
  </Button>
  <Button
    as='button'
    color='primary'
  >
    <span>Primary</span>
  </Button>
  <Button
    as='button'
    color='success'
  >
    <span>Success</span>
  </Button>
  <Button 
    as='button'
    color='danger'
  >
    <span>Danger</span>
  </Button>
</div>
<h2>Outlined</h2>
<div class="flex row align-center">
  <Button
    as='button'
    color='default'
    variant='outlined'
  >
    <span>Default</span>
  </Button>
  <Button
    as='button'
    color='primary'
    variant='outlined'
  >
    <span>Primary</span>
  </Button>
  <Button
    as='button'
    color='success'
    variant='outlined'
  >
    <span>Success</span>
  </Button>
  <Button 
    as='button'
    color='danger'
    variant='outlined'
  >
    <span>Danger</span>
  </Button>
</div>