---
import { Card, Row } from '@studiocms/ui/components';
---
<Row>
  <Card>
    <span slot="header">
      <h2>Header</h2>
    </span>
    <span>Card with Header & Footer</span>
    <span slot="footer">©️ 2024 StudioCMS</span>
  </Card>
  <Card fullHeight>
    <span slot="header">
      <h2>Header</h2>
    </span>
    <span>Card with Header & no Footer</span>
  </Card>
  <Card>
    <span>Card with Footer & no Header</span>
    <span slot="footer">©️ 2024 StudioCMS</span>
  </Card>
</Row>
<Card class='mt' fullWidth>
  <span slot="header">
    <h2>Header</h2>
  </span>
  <span>Full-size Card</span>
  <span slot="footer">©️ 2024 StudioCMS</span>
</Card>