---
import { Button, Dropdown, Row } from '@studiocms/ui/components';
---
<Row>
  <Dropdown
    options={[
      { label: 'Option 1', value: 'opt-1' },
      { label: 'Option 2', value: 'opt-2' },
    ]}
    id="dropdown-1"
    align='start'
  >
    <Button color='primary'>
      Dropdown (left)
    </Button>
  </Dropdown>
  <Dropdown
    options={[
      { label: 'Option 1', value: 'opt-1' },
      { label: 'Option 2 (Disabled)', value: 'opt-2', disabled: true },
    ]}
    id="dropdown-2"
    align='center'
  >
    <Button color='primary'>
      Dropdown (center, 1 disabled)
    </Button>
  </Dropdown>
  <Dropdown
    options={[
      { label: 'Option 1', value: 'opt-1' },
      { label: 'Option 2 (Icon start)', value: 'opt-2-icon', icon: 'user', iconPosition: 'start' },
      { label: 'Option 2 (Icon end)', value: 'opt-3-icon', icon: 'user', iconPosition: 'end' },
    ]}
    id="dropdown-3"
    align='end'
  >
    <Button color='primary'>
      Dropdown (right, icon)
    </Button>
  </Dropdown>
  <Dropdown
    options={[
      { label: 'Default', value: 'default', color: 'default' },
      { label: 'Primary', value: 'primary', color: 'primary' },
      { label: 'Success', value: 'success', color: 'success' },
      { label: 'Warning', value: 'warning', color: 'warning' },
      { label: 'Danger', value: 'danger', color: 'danger' },
    ]}
    id="dropdown-4"
    align='center'
  >
    <Button color='primary'>
      Dropdown (colored)
    </Button>
  </Dropdown>
  <Dropdown
    options={[
      { label: 'Default', value: 'default', color: 'default' },
      { label: 'Primary', value: 'primary', color: 'primary' },
    ]}
    id="dropdown-5"
    align='center'
    triggerOn='right'
  >
    <Button color='primary'>
      Dropdown (right click)
    </Button>
  </Dropdown>
  <Dropdown
    options={[
      { label: 'Default', value: 'default', color: 'default' },
      { label: 'Primary', value: 'primary', color: 'primary' },
    ]}
    id="dropdown-6"
    align='center'
    triggerOn='both'
  >
    <Button color='primary'>
      Dropdown (right & left click)
    </Button>
  </Dropdown>
</Row>
<script>
  import { DropdownHelper } from "@studiocms/ui/components";

  const dropdown1 = new DropdownHelper('dropdown-1');
  dropdown1.registerClickCallback((value) => {
    console.log(value);
  });

  const dropdown2 = new DropdownHelper('dropdown-2');
  dropdown2.registerClickCallback((value) => {
    console.log(value);
  });

  const dropdown3 = new DropdownHelper('dropdown-3');
  dropdown3.registerClickCallback((value) => {
    console.log(value);
  });

  const dropdown4 = new DropdownHelper('dropdown-4');
  dropdown4.registerClickCallback((value) => {
    console.log(value);
  });

  const dropdown5 = new DropdownHelper('dropdown-5');
  dropdown5.registerClickCallback((value) => {
    console.log(value);
  });

  const dropdown6 = new DropdownHelper('dropdown-6');
  dropdown6.registerClickCallback((value) => {
    console.log(value);
  });
</script>