---
import { Button, Input, Modal, Row, Select } from '@studiocms/ui/components';
---
<Modal id="modal-1" buttons={['confirm', 'cancel']}>
  <h2 slot="header">Medium Modal, both Buttons</h2>
  <span>
    Lorem ipsum dolor sit amet. Aut temporibus assumenda est tenetur animi non sunt architecto nam voluptatum nostrum ut possimus amet. 
    Id facilis odio aut voluptatem asperiores qui suscipit blanditiis eum assumenda reprehenderit id ipsum facere! Ea natus rerum qui unde 
    porro ut voluptatem maxime in dolor fuga.
  </span>
</Modal>
<Modal size="sm" id="modal-2">
  <h2 slot="header">Small Modal, no Buttons</h2>
  <span>
    Lorem ipsum dolor sit amet. Aut temporibus assumenda est tenetur animi non sunt architecto nam voluptatum nostrum ut possimus amet. 
    Id facilis odio aut voluptatem asperiores qui suscipit blanditiis eum assumenda reprehenderit id ipsum facere! Ea natus rerum qui unde 
    porro ut voluptatem maxime in dolor fuga.
  </span>
</Modal>
<Modal size="lg" id="modal-3" buttons={['confirm']} dismissable={false}>
  <h2 slot="header">Large, non-dismissable, 1 Button</h2>
  <span>
    Lorem ipsum dolor sit amet. Aut temporibus assumenda est tenetur animi non sunt architecto nam voluptatum nostrum ut possimus amet. 
    Id facilis odio aut voluptatem asperiores qui suscipit blanditiis eum assumenda reprehenderit id ipsum facere! Ea natus rerum qui unde 
    porro ut voluptatem maxime in dolor fuga.
  </span>
</Modal>
<Modal id="modal-4" buttons={['confirm','cancel']} isForm>
  <h2 slot="header">Feedback</h2>
  <div slot="default">
    <Input label="Input" type="text" name="text-input" />
    <Select
      fullWidth
      options={[
        { label: "Dog", value: 'dog' },
        { label: "Cat", value: 'cat' },
        { label: "Tortoise", value: 'tortoise' },
      ]}
      label='Favorite Animal?'
      class="mt"
    />
  </div>
</Modal>

<Row>
  <Button id={'modal-trigger-1'}>Medium Modal, both Buttons</Button>
  <Button id={'modal-trigger-2'}>Small, 1 Button</Button>
  <Button id={'modal-trigger-3'}>Large, one Button, non-dismissable</Button>
  <Button id={'modal-trigger-4'}>Form Modal (Output in console)</Button>
</Row>
<script>
  import { ModalHelper } from "@studiocms/ui/components";

  const modal1 = new ModalHelper('modal-1');
  modal1.bindTrigger('modal-trigger-1');

  const modal2 = new ModalHelper('modal-2');
  modal2.bindTrigger('modal-trigger-2');

  const modal3 = new ModalHelper('modal-3');
  modal3.bindTrigger('modal-trigger-3');

  const modal4 = new ModalHelper('modal-4');
  modal4.bindTrigger('modal-trigger-4');
  modal4.registerConfirmCallback((formData) => {
    for (const [key, value] of formData!.entries()) { 
      console.log(key, value);
    }
  });
</script>