---
import { RadioGroup, Row } from '@studiocms/ui/components';
---
<RadioGroup
  label="Normal & default checked"
  options={[
    { label: "Option 1", value: "opt-1" },
    { label: "Option 2", value: "opt-2" },
    { label: "Option 3", value: "opt-3" }
  ]}
  defaultValue='opt-1'
/>
<div class="mt">
<Row gapSize='lg'>
  <RadioGroup
    label="Horizontal"
    horizontal
    options={[
      { label: "Option 1", value: "opt-1-h" },
      { label: "Option 2", value: "opt-2-h" },
      { label: "Option 3", value: "opt-3-h" }
    ]}
  />
  <RadioGroup
    label="Horizontal & disabled"
    horizontal
    options={[
      { label: "Option 1", value: "opt-1-h2" },
      { label: "Option 2", value: "opt-2-h2" },
      { label: "Option 3", value: "opt-3-h2" }
    ]}
    disabled
  />
</Row>
</div>
<h2>Colors</h2>
<Row gapSize='lg'>
<RadioGroup
  label="Default"
  options={[
    { label: "Option 1", value: "opt-1-d" },
  ]}
  defaultValue='opt-1-d'
/>
<RadioGroup
  label="Primary"
  options={[
    { label: "Option 1", value: "opt-1-p" },
  ]}
  color='primary'
  defaultValue='opt-1-p'
/>
<RadioGroup
  label="Success"
  options={[
    { label: "Option 1", value: "opt-1-s" },
  ]}
  color='success'
  defaultValue='opt-1-s'
/>
<RadioGroup
  label="Warning"
  options={[
    { label: "Option 1", value: "opt-1-w" },
  ]}
  color='warning'
  defaultValue='opt-1-w'
/>
<RadioGroup
  label="Danger"
  options={[
    { label: "Option 1", value: "opt-1-da" },
  ]}
  color='danger'
  defaultValue='opt-1-da'
/>
</Row>