---
import { Button, Row, Toaster } from '@studiocms/ui/components';
---
<Toaster position='top-center' />
<Row>
  <Button variant='outlined' color='primary' id="trigger-toast-info">Info</Button>
  <Button variant='outlined' color='success' id="trigger-toast-success">Success</Button>
  <Button variant='outlined' color='warning' id="trigger-toast-warning">Warning</Button>
  <Button variant='outlined' color='danger' id="trigger-toast-danger">Danger</Button>
  <Button variant='outlined' color='primary' id="trigger-toast-duration">Custom Duration</Button>
  <Button variant='outlined' color='primary' id="trigger-toast-persistent">Persistent</Button>
</Row>
<script>
  import { toast } from '@studiocms/ui/components';

  document.getElementById('trigger-toast-info')!.addEventListener('click', () => {
    toast({
      title: "Toast Title",
      description: "Toast Desc",
      type: 'info',
    });
  });

  document.getElementById('trigger-toast-success')!.addEventListener('click', () => {
    toast({
      title: "Toast Title",
      description: "Toast Desc",
      type: 'success',
    });
  });

  document.getElementById('trigger-toast-warning')!.addEventListener('click', () => {
    toast({
      title: "Toast Title",
      description: "Toast Desc",
      type: 'warning',
    });
  });

  document.getElementById('trigger-toast-danger')!.addEventListener('click', () => {
    toast({
      title: "Toast Title",
      description: "Toast Desc",
      type: 'danger',
    });
  });

  document.getElementById('trigger-toast-duration')!.addEventListener('click', () => {
    toast({
      title: "Toast Title",
      description: "Toast Desc",
      type: 'info',
      duration: 10000,
    });
  });

  document.getElementById('trigger-toast-persistent')!.addEventListener('click', () => {
    toast({
      title: "Toast Title",
      description: "Toast Desc",
      type: 'info',
      persistent: true,
      closeButton: true
    });
  });
</script>