---
import { Row, Toggle } from '@studiocms/ui/components';
---
<h2>Sizes</h2>
<Row alignCenter>
  <Toggle
    label='Small & Checked by default'
    defaultChecked
    size='sm'
  />
  <Toggle
    label='Normal & Required'
    isRequired
  />
  <Toggle
    label='Large'
    size='lg'
  />
</Row>
<h2>Colors</h2>
<Row alignCenter>
  <Toggle
    label='Default'
  />
  <Toggle
    label='Primary'
    color='primary'
  />
  <Toggle
    label='Success'
    color='success'
  />
  <Toggle
    label='Warning'
    color='warning'
  />
  <Toggle
    label='Danger'
    color='danger'
  />
</Row>
<h2>Disabled</h2>
<Row alignCenter>
  <Toggle
    label='Unchecked'
    disabled
  />
  <Toggle
    label='Default'
    disabled
    defaultChecked
  />
  <Toggle
    label='Primary'
    color='primary'
    disabled
    defaultChecked
  />
  <Toggle
    label='Success'
    color='success'
    disabled
    defaultChecked
  />
  <Toggle
    label='Warning'
    color='warning'
    disabled
    defaultChecked
  />
  <Toggle
    label='Danger'
    color='danger'
    disabled
    defaultChecked
  />
</Row>