.card {
	border: 1px solid hsl(var(--border));
	background-color: hsl(var(--background-base));
	border-radius: .5rem;
	width: fit-content;
	height: fit-content;
}

.card.full-w {
	width: 100%;
}

.card.full-h {
	height: 100%;
}

.card-header:has(*) {
	padding: 1rem 1rem 0rem 1rem;
	* {
		margin: 0;
	}
}

.card-body {
	padding: 1rem;
}

.card-footer:has(*) {
	border-top: 1px solid hsl(var(--border));
	padding: 1rem;
}

@media screen and (max-width: 840px) {
	.card {
		width: 100%;
	}
}
