---
import Default from "../../layouts/Default.astro"
import type { Locals } from "./locals";
import { Admins, db } from 'astro:db';

const locals = Astro.locals as Locals;
const isLoggedIn = locals.isLoggedIn;

if (!isLoggedIn) {
    return Astro.redirect('/dashboard/login');
}

const getUserName = () => {
  if (locals.isLoggedIn) {
	if (locals.dbUser.name) {
		return locals.dbUser.name;
	} else {
		return locals.user.username;
	}
  } else {
	return 'Astronaut';
  }
};

const adminList = await db.select().from(Admins);

const isAdmin = async (user: string) => {
    if (adminList.includes({GitHubUsername: user})) {
        return true;
    }
    return false;
};

---

<Default>
        <div class="dash">
            <form method="post" action="/dashboard/logout">
                <button>Logout</button>
            </form>
            <center>
                <h1>Dashboard</h1>
            </center>
            <div>
                <p class="font-small">
                Currently logged in user: <bold>{getUserName}</bold> | <a href="/dashboard/profile">More info...</a>
                </p>

                { isAdmin(locals.user.username) && (
                    <button class="btn" onclick="window.location.href='/dashboard/new-post'">Create a new post</button>
                )}
                
            </div>
        </div>
</Default>

<style>
    .dash {
        padding: 2rem;
        border: 2px solid #ccc;
        border-radius: 5rem;
        background-color: #fff;
        margin: 2rem;
        
    }
    bold {
        font-weight: bold;
    }
    .font-small {
        font-size: 1rem;
    }
    form {
        display: flex;
        justify-content: flex-end;
        padding-right: 4rem;
    }
    button {
        padding: 1rem;
        background-color: rgb(202, 0, 0);
        font-weight: bold;
        color: #fff;
        border: none;
        border-radius: 99rem;
        cursor: pointer;
    }
    .btn {
        padding: 1rem;
        background-color: rgb(0, 37, 202);
        font-weight: bold;
        color: #fff;
        border: none;
        border-radius: 99rem;
        cursor: pointer;
    }
</style>