/* Dark mode colors. */
:root {
	--sl-color-accent-low: #6545aa;
	--sl-color-accent: #a581f3;
	--sl-color-accent-high: #cdb9f8;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #d1d1d1;
	--sl-color-gray-2: #b4b4b4;
	--sl-color-gray-3: #969696;
	--sl-color-gray-4: #4d4d4d;
	--sl-color-gray-5: #383838;
	--sl-color-gray-6: #191919;
	--sl-color-black: #0f0f0f;

	--sl-font: "Onest Variable";
}

/* Light mode colors. */
:root[data-theme="light"] {
	--sl-color-accent-low: #3a158b;
	--sl-color-accent: #6545aa;
	--sl-color-accent-high: #a581f3;
	--sl-color-white: #1f1f1f;
	--sl-color-gray-1: #202020;
	--sl-color-gray-2: #383838;
	--sl-color-gray-3: #5c5c5c;
	--sl-color-gray-4: #838383;
	--sl-color-gray-5: #afafaf;
	--sl-color-gray-6: #cecece;
	--sl-color-gray-7: #f8f4fe;
	--sl-color-black: #ffffff;
}

/* This is Turso's Branding Colors for the sponsors sidebar section */
[data-theme="light"] .turso-logo > path {
	fill: #183134;
}

.card-grid .card {
	border-radius: 8px;
}

code,
starlight-file-tree {
	border-radius: 4px;
}

.expressive-code figure.frame figcaption {
	border-top-right-radius: 4px !important;
	border-top-left-radius: 4px !important;
	overflow: hidden;
}

.expressive-code figure.frame pre {
	border-radius: 4px;
}

aside.starlight-aside {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

@media (max-width: 50rem) {
	.hero > img {
		width: min(50%, 16rem);
	}
}

#starlight__sidebar [aria-current="page"] span {
	color: black !important;
}

[data-theme="light"] #starlight__sidebar [aria-current="page"] span {
	color: white !important;
}

button[aria-label="Menu"][aria-controls="starlight__sidebar"] {
	background-color: var(--sl-color-white);
	padding: 0.5rem;
}

[data-theme="light"] button[aria-label="Menu"][aria-controls="starlight__sidebar"] {
	background-color: var(--sl-color-black);
	padding: 0.5rem;
}

[data-theme="dark"] .astro-code,
[data-theme="dark"] .astro-code span,
[data-theme="dark"] .shiki,
[data-theme="dark"] .shiki span {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
	/* Optional, if you also want font styles */
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}

.astro-code {
	overflow: visible !important;
	border-radius: .5rem;
}

.twoslash-popup-container {
	white-space: nowrap !important;
	word-break: normal !important;
	overflow-wrap: normal !important;
	max-width: 512px !important;
	width: max-content !important;
}

.twoslash-popup-container * {
	white-space: wrap !important;
	word-break: normal !important;
	overflow-wrap: normal !important;
}

main[data-pagefind-body] {
	overflow: hidden !important;
}

.twoslash-popup-docs {
	font-size: 1em !important;
	color: var(--sl-color-white) !important;
	font-family: var(--sl-font) !important;
}

.twoslash-popup-docs code:not(:has(.shiki)) {
	color: var(--sl-color-white) !important;
	background-color: var(--sl-color-gray-5) !important;
	padding: .125rem !important;
	border-radius: 4px !important;
	position: relative !important;
	display: inline-block !important;
	line-height: 1 !important;
}

.twoslash-popup-docs-tag-name {
	color: #8839ef !important;
	--shiki-dark: #c586c0 !important;
	font-style: italic;
	--shiki-dark-font-style: italic;
}

.twoslash-popup-docs-tag-value {
	color: var(--sl-color-gray-2) !important;
	--shiki-dark: var(--sl-color-gray-2);
}

.twoslash-popup-docs.twoslash-popup-docs-tags {
	font-size: 14px !important;
	margin: 0 !important;
}

.twoslash-popup-docs-tag-value code:first-of-type {
	margin-right: .75rem !important;
}

.twoslash-popup-docs-tag-value code:first-of-type:not(:has(.shiki))::after {
	content: "—";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -.75rem;
	color: var(--sl-color-gray-2) !important;
	--shiki-dark: var(--sl-color-gray-2);
}

.twoslash-popup-container {
	background-color: var(--twoslash-popup-bg) !important;
	--shiki-dark-bg: #1e1e1e !important;
}

.twoslash-popup-container .shiki {
	border: none !important;
	outline: none !important;
	padding: 0 !important;
}

.twoslash-popup-container .shiki code,
.twoslash-popup-container .shiki code span {
	white-space: preserve !important;
}

.twoslash-popup-container .shiki code {
	margin: 0 !important;
	background-color: transparent !important;
	line-height: normal !important;
}

.twoslash-popup-container .shiki code span::after {
	content: none !important;
}

.twoslash-popup-code,
.twoslash-popup-docs {
	max-height: 200px !important;
	overflow: auto !important;
}

.highlighted {
	display: inline-block !important;
	margin: 0 -12px !important;
	padding: 0 12px !important;
	background-color: var(--sl-color-gray-5) !important;
	--shiki-dark-bg: var(--sl-color-gray-5) !important;
}

.diff {
	display: inline-block !important;
	margin: 0 -12px !important;
	padding: 0 12px !important;
}

.diff.add {
	background-color: #0505 !important;
	--shiki-dark-bg: #0505 !important;
}

.diff.remove {
	background-color: #8005 !important;
	--shiki-dark-bg: #8005 !important;
}

.diff:before {
	position: absolute !important;
	left: 40px !important;
}
