:root {
	/* Shiki Custom copy button tokens */
	--copy-button: var(--sl-color-gray-3);
	--copy-button-success: #74f074;

	/* Shiki Color tokens */
	--highlighted-word-bg: var(--sl-color-gray-6);
	--highlighted-word-dark-bg: var(--sl-color-gray-5);
	--highlighted-error-bg: #88000033;
	--highlighted-error-dark-bg: #8005;
	--highlighted-warning-bg: #ff8c00;
	--highlighted-warning-dark-bg: #ff8c00;
	--diff-add-bg: #1b8f1b33;
	--diff-add-dark-bg: #1b8f1b33;
	--diff-remove-bg: #88000033;
	--diff-remove-dark-bg: #8005;
}

[data-theme="dark"] .astro-code,
[data-theme="dark"] .astro-code span:not(.ready),
[data-theme="dark"] .shiki,
[data-theme="dark"] .shiki span:not(.ready) {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
	/* Optional, if you also want font styles */
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}

.astro-code {
	overflow: visible !important;
	margin-top: 1.5rem !important;
	padding-top: 1rem !important;
	border-radius: .5rem;
}

.highlighted:not(.error):not(.warning) {
	display: inline-block !important;
	margin: 0 -12px !important;
	padding: 0 12px !important;
	background-color: var(--highlighted-word-bg) !important;
}

[data-theme="dark"] .highlighted:not(.error):not(.warning) {
	background-color: var(--highlighted-word-dark-bg) !important;
	--shiki-dark-bg: var(--highlighted-word-dark-bg) !important;
}

.highlighted.error {
	background-color: var(--highlighted-error-bg) !important;
	--shiki-dark-bg: var(--highlighted-error-dark-bg) !important;
}

[data-theme="dark"] .highlighted.error {
	background-color: var(--highlighted-error-dark-bg) !important;
	--shiki-dark-bg: var(--highlighted-error-dark-bg) !important;
}

.highlighted.warning {
	background-color: var(--highlighted-warning-bg) !important;
	--shiki-dark-bg: var(--highlighted-warning-dark-bg) !important;
}

[data-theme="dark"] .highlighted.warning {
	background-color: var(--highlighted-warning-dark-bg) !important;
	--shiki-dark-bg: var(--highlighted-warning-dark-bg) !important;
}

.highlighted-word {
	background-color: var(--highlighted-word-bg) !important;
	padding: .125rem !important;
	border-radius: 4px !important;
	position: relative !important;
	display: inline-block !important;
	line-height: 1 !important;
}

[data-theme="dark"] .highlighted-word {
	background-color: var(--highlighted-word-dark-bg) !important;
	--shiki-dark-bg: var(--highlighted-word-dark-bg) !important;
}

.diff {
	display: inline-block !important;
	margin: 0 -12px !important;
	padding: 0 12px !important;
}

.diff,
.highlighted {
	border-radius: 4px;
}

.diff > span {
	background-color: transparent !important;
	--shiki-dark-bg: transparent !important;
}

.diff.add {
	background-color: var(--diff-add-bg);
	--shiki-dark-bg: var(--diff-add-dark-bg);
}

.diff.remove {
	background-color: var(--diff-remove-bg);
	--shiki-dark-bg: var(--diff-remove-dark-bg);
}

.diff:before {
	position: absolute !important;
	left: 40px !important;
}

pre:has(code) {
	position: relative;
}

pre button.copy {
	position: absolute !important;
	right: 10px !important;
	top: 10px !important;
	height: 28px !important;
	width: 28px !important;
	padding: 0.125rem !important;
	display: flex !important;
	border: 1px solid var(--sl-color-gray-4) !important;
	border-radius: 4px !important;
	cursor: pointer !important;
	opacity: 0;
	transition: all .15s ease;

	& span {
		width: 100% !important;
		aspect-ratio: 1 / 1 !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		background-size: cover !important;
	}

	& .success {
		display: none;
	}

	&.copied {
		& .success {
			display: block !important;
		}

		& .ready {
			display: none !important;
			background-color: transparent !important;
		}
	}
}

pre button.copy:hover {
	background-color: var(--sl-color-gray-5);
}

.astro-code:hover button.copy {
	opacity: 1;
}

pre span.title {
	position: absolute !important;
	top: -14px !important;
	left: 10px !important;
	font-size: 0.75rem !important;
	color: var(--sl-color-gray-2) !important;
	background: var(--sl-color-black) !important;
	padding: 0.1rem !important;
	padding-left: 0.5rem !important;
	padding-right: 0.5rem !important;
	border: 1px solid var(--sl-color-gray-5) !important;
	border-radius: 4px !important;
}
