/* Dark mode colors. */
:root {
	--sl-color-accent-low: #6545aa;
	--sl-color-accent: #a581f3;
	--sl-color-accent-high: #cdb9f8;
	--sl-color-accent-bleached: rgba(205, 185, 248, 0.1);
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #d1d1d1;
	--sl-color-gray-2: #b4b4b4;
	--sl-color-gray-3: #969696;
	--sl-color-gray-4: #4d4d4d;
	--sl-color-gray-5: #383838;
	--sl-color-gray-6: #191919;
	--sl-color-black: #0f0f0f;

	--landing-card-2nd-accent-low: #3a158b;
	--landing-card-2nd-accent: #6545aa;
	--landing-card-2nd-accent-high: #a581f3;

	--sl-custom-code-color: var(--sl-color-gray-5);

	--sl-font: "Onest Variable";
}

/* Light mode colors. */
:root[data-theme="light"] {
	--sl-color-accent-low: #3a158b;
	--sl-color-accent: #6545aa;
	--sl-color-accent-high: #a581f3;
	--sl-color-accent-bleached: rgba(15, 15, 15, 0.1);
	--sl-color-white: #1f1f1f;
	--sl-color-gray-1: #202020;
	--sl-color-gray-2: #383838;
	--sl-color-gray-3: #5c5c5c;
	--sl-color-gray-4: #838383;
	--sl-color-gray-5: #afafaf;
	--sl-color-gray-6: #cecece;
	--sl-color-gray-7: #f8f4fe;
	--sl-color-black: #ffffff;

	--landing-card-2nd-accent-low: #6545aa;
	--landing-card-2nd-accent: #a581f3;
	--landing-card-2nd-high: #cdb9f8;

	--sl-custom-code-color: #dddddd;
}

.sl-markdown-content code:not(:where(.not-content *)) {
	background-color: var(--sl-custom-code-color);
}

.sl-link-button {
	background-color: var(--sl-color-accent-bleached) !important;
	color: white !important;
	transition: all .15s ease !important;
	gap: 1rem !important;
}

[data-theme="light"] .sl-link-button {
	color: black !important;
}

.sl-link-button:hover {
	background-color: var(--sl-color-accent-high) !important;
	color: black !important;
}

.sl-link-button:first-of-type:not(.discord-button) svg {
	transition: transform .15s ease !important;
}

.sl-link-button:first-of-type:hover:not(.discord-button) > svg {
	transform: translateX(5px);
}

.card {
	border-radius: 8px;
}

code,
starlight-file-tree {
	border-radius: 4px;
}

aside.starlight-aside {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

@media (max-width: 50rem) {
	.hero > img {
		width: min(50%, 16rem);
	}
}

main[data-pagefind-body] {
	overflow: hidden !important;
}

#starlight__sidebar [aria-current="page"] span {
	color: black !important;
}

[data-theme="light"] #starlight__sidebar [aria-current="page"] span {
	color: white !important;
}

button[aria-label="Menu"][aria-controls="starlight__sidebar"] {
	background-color: var(--sl-color-white);
	padding: 0.5rem;
}

[data-theme="light"] button[aria-label="Menu"][aria-controls="starlight__sidebar"] {
	background-color: var(--sl-color-black);
	padding: 0.5rem;
}

.card-grid {
	margin-top: 1.5rem !important;
	margin-bottom: 1.5rem !important;
}

/* Custom styles for heading anchor links. */
.sl-markdown-content .heading-wrapper {
	--icon-size: 1.5rem;
	--icon-spacing: 0.25em;
	line-height: var(--sl-line-height-headings);
	align-items: center;
}

/* Headings after non-headings have more spacing. */
.sl-markdown-content :not(.heading-wrapper) + :is(.heading-wrapper):not(:where(.not-content *)) {
	margin-top: 1.5em;
}

.sl-markdown-content .heading-wrapper > :first-child {
	margin-inline-end: calc(var(--icon-size) + var(--icon-spacing));
	display: inline;
}

.sl-markdown-content .anchor-link {
	margin-inline-start: calc(-1 * (var(--icon-size)));
	color: var(--sl-color-gray-3);
}

.sl-markdown-content .anchor-link:hover,
.sl-markdown-content .anchor-link:focus {
	color: var(--sl-color-text-accent);
}

.sl-markdown-content .heading-wrapper svg {
	display: inline;
	width: var(--icon-size) !important;
	height: var(--icon-size) !important;
}

.sl-markdown-content :is(img, picture, video, canvas, svg, iframe):not(:where(.not-content *)) {
	display: block;
	height: auto;
}

/* Prevent double or triple clicks from potentially selecting the anchor link a11y text. */
.sl-markdown-content .anchor-link .sr-only {
	-webkit-user-select: none;
	user-select: none;
}

@media (hover: hover) {
	.sl-markdown-content .anchor-link {
		opacity: 0;
	}
}

.sl-markdown-content .heading-wrapper:hover > .anchor-link,
.sl-markdown-content .anchor-link:focus {
	opacity: 1;
}

/* Float anchor links to the left of headings on larger screens. */
@media (min-width: 95em) {
	.sl-markdown-content .heading-wrapper {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		gap: var(--icon-spacing);
		margin-inline-start: calc(-1 * (var(--icon-size) + var(--icon-spacing)));
	}

	.sl-markdown-content .heading-wrapper > :first-child,
	.sl-markdown-content .anchor-link {
		margin: 0;
	}
}

a {
	text-decoration: none;
}
