.twoslash-popup-container {
	white-space: nowrap !important;
	word-break: normal !important;
	overflow-wrap: normal !important;
	width: max-content !important;
}

.twoslash-popup-container * {
	white-space: wrap !important;
	word-break: normal !important;
	overflow-wrap: normal !important;
}

.twoslash-popup-docs {
	font-size: 1em !important;
	color: var(--sl-color-white) !important;
	font-family: var(--sl-font) !important;
}

.twoslash-popup-docs code:not(:has(.shiki)) {
	color: var(--sl-color-white) !important;
	background-color: var(--sl-color-gray-5) !important;
	padding: .125rem !important;
	border-radius: 4px !important;
	position: relative !important;
	display: inline-block !important;
	line-height: 1 !important;
}

.twoslash-popup-docs-tag-name {
	color: #8839ef !important;
	--shiki-dark: #c586c0 !important;
	font-style: italic;
	--shiki-dark-font-style: italic;
}

.twoslash-popup-docs-tag-value {
	color: var(--sl-color-gray-2) !important;
	--shiki-dark: var(--sl-color-gray-2);
}

.twoslash-popup-docs.twoslash-popup-docs-tags {
	font-size: 14px !important;
	margin: 0 !important;
}

.twoslash-popup-container {
	background-color: var(--twoslash-popup-bg) !important;
	--shiki-dark-bg: #1e1e1e !important;
}

.twoslash-popup-container .shiki {
	border: none !important;
	outline: none !important;
	padding: 0 !important;
}

.twoslash-popup-container .shiki code,
.twoslash-popup-container .shiki code span {
	white-space: preserve !important;
}

.twoslash-popup-container .shiki code {
	margin: 0 !important;
	background-color: transparent !important;
	line-height: normal !important;
}

.twoslash-popup-container .shiki code span::after {
	content: none !important;
}

.twoslash-popup-code,
.twoslash-popup-docs {
	max-height: 200px !important;
	overflow: auto !important;
}
