<div
  id='blob'
  class='pointer-events-none absolute z-0 h-[100px] w-[100px] blur-[80px]'
>
  <svg
    id='blob'
    viewBox='0 0 440 440'
    xmlns='http://www.w3.org/2000/svg'
    class='z-0 text-[--blob-light] dark:text-[--blob-dark]'
  >
    <path
      id='blob-path'
      d='M220,437.5332367490046C250.1749492707972,437.9162569463659,274.13873847070295,410.5536577941376,295.2309044850281,388.9713780074487C313.3883807962099,370.3919806282536,320.72138711460394,344.66983130731677,333.08412430038175,321.8214028659434C343.139704164577,303.2369912173733,348.98143787477665,282.8984894735866,361.7387148734754,266.0537001811321C380.8326646776449,240.84192801025696,418.99107162508875,228.96605200701282,426.64688852059857,198.280536812011C433.67801414837265,170.09886590298382,422.62950113509794,133.55709611539183,399.0149514893097,116.64566956867934C372.0912717748622,97.36442818623784,328.5921851154451,126.83726975863888,301.1021914125277,108.37241002920446C275.12320473876,90.92248442980139,292.05937761410325,31.477894781143522,261.5893041794379,24.33770732515875C231.51701459774256,17.29073432378499,217.02352652600828,66.23597248246739,190.77763178696716,82.5195666346994C173.7520406129725,93.08265924920865,153.98775073708174,96.71868031819525,134.93452886521663,102.91742347372164C108.93783377466077,111.37514452702271,79.50999284790441,110.23557870320137,57.166890576776204,125.98826044151782C32.29882902519266,143.52112827326764,8.039148667247888,167.32426749643616,1.449128973287892,197.02937783408976C-5.097292554944767,226.53796549296635,8.99528300556487,257.05504104583804,22.041146765276128,284.32073045964097C34.37774961163685,310.1040735809364,52.958417849878714,332.34170364108587,74.93606962139745,350.6161495946339C95.54431276280361,367.7519304960882,122.62384121547868,373.296991297669,145.6146411821359,387.07225134498265C171.60024188024315,402.64188822674475,189.70945352710527,437.1487492397097,220,437.5332367490046'
      fill='currentColor'></path>
  </svg>
</div>
