<div
  id='blob'
  class='pointer-events-none absolute z-0 h-[80px] w-[80px] blur-[60px] bg-[#aa87f4]'
>
</div>

<script>
  const blob = document.getElementById('blob')!
  const panel = document.querySelector('.panel')

  document.addEventListener('mousemove', (event) => {
    const blobWidth = blob.offsetWidth
    const blobHeight = blob.offsetHeight

    const rect = panel?.getBoundingClientRect()!
    const mouseX = event.clientX - rect.left
    const mouseY = event.clientY - rect.top

    const blobX = mouseX - blobWidth / 2
    const blobY = mouseY - blobHeight / 2

    // Update the position of the blob element
    blob.style.left = blobX + 'px'
    blob.style.top = blobY + 'px'
  })
</script>
