---
import { Icon } from 'astro-icon/components';
import { DISCORD_URL, GITHUB_URL } from '../constants';
---

<footer
  class='px-8 py-4 mx-auto flex items-center justify-between gap-4 border-t border-slate-300 dark:border-neutral-800'
>
  <div class="container mx-auto flex items-center justify-between">
    <p class='font-medium text-sm md:text-base'>
      StudioCMS - {new Date().getFullYear()}
    </p>
    <nav aria-labelledby='footer-social-links' class='flex items-center gap-4'>
      <a
        class='hover:underline'
        href={DISCORD_URL}
        rel='external nofollow'
        aria-label='Discord link'
      >
        <Icon
          name='discord'
          class='h-8 w-8 transition duration-200 ease-in-out hover:scale-110'
        />
      </a>
      <a
        class='hover:underline'
        href={GITHUB_URL}
        rel='external nofollow'
        aria-label='GitHub link'
      >
        <Icon
          name='github'
          class='h-8 w-8 transition duration-200 ease-in-out hover:scale-110'
        />
      </a>
    </nav>
  </div>
</footer>
