---
import { Icon } from 'astro-icon/components'
import { DISCORD_URL, GITHUB_URL } from '../constants'
---

<footer
  class='h-footer mx-auto flex items-center justify-around gap-4 border-t border-[--purple-900] dark:border-white'
>
  <p class='font-bold'>
    {new Date().getFullYear()} - Astro StudioCMS
  </p>
  <nav aria-labelledby='footer-social-links' class='flex items-center gap-8'>
    <a
      class='hover:underline'
      href={DISCORD_URL}
      rel='external nofollow'
      aria-label='Discord link'
    >
      <Icon
        name='discord'
        class='h-10 w-10 transition duration-200 ease-in-out hover:scale-110'
      />
    </a>
    <a
      class='hover:underline'
      href={GITHUB_URL}
      rel='external nofollow'
      aria-label='GitHub link'
      ><Icon
        name='github'
        class='h-10 w-10 transition duration-200 ease-in-out hover:scale-110'
      /></a
    >
  </nav>
</footer>
