---
import { AstroFont } from 'astro-font';
import { SEO } from 'astro-seo';
const OgBanner = new URL('/og.png', Astro.url);
import ThemeManager from './ThemeManager.astro';

interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<head>
  <meta charset='utf-8' />
  <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  <meta name='viewport' content='width=device-width' />
  <meta name='generator' content={Astro.generator} />
  <title>StudioCMS{ title && ` - ${title}`}</title>
  <ThemeManager defaultTheme="dark" />
  <script 
    is:inline 
    defer 
    src="https://analytics.studiocms.xyz/script.js" 
    data-website-id="e3a84c8d-d45a-49d9-932b-00eeb63f8c48">
  </script>
  <SEO
    title={`StudioCMS${title && ` - ${title}`}`}
    description='A dedicated CMS for Astro DB.'
    openGraph={{
      image: {
        height: 1080,
        width: 1920,
        type: 'image/png',
      },
      basic: {
        title: `StudioCMS${title && ` - ${title}`}`,
        type: 'Website',
        image: OgBanner.href,
      },
    }}
  />
  <AstroFont
    config={[
      {
        src: [
          {
            path: './font/BalooChettan2-Bold.woff2',
            weight: '400',
            style: 'normal',
          },
          {
            path: './font/BalooChettan2-Bold.woff2',
            weight: '800',
            style: 'normal',
          }
        ],
        name: 'BalooChettan',
        preload: true,
        display: 'swap',
        selector: 'body',
        fallback: 'sans-serif',
      },
      {
        src: [{
          path: './font/ZenKakuGothicNew-Regular.woff2',
          weight: '400',
          style: 'normal',
        }],
        name: 'zenkaku',
        preload: false,
        display: 'swap',
        selector: 'body',
        fallback: 'sans-serif',
      },
    ]}
  />
</head>
