---
import { Icon } from 'astro-icon/components';
import { marqueeKeywords } from '../constants';
---

<div
  class='relative flex w-full overflow-x-hidden bg-transparent py-16'
>
  <div class='animate-marquee infinite whitespace-nowrap'>
    {
      marqueeKeywords.map((keyword) => (
        <div class='inline-block px-6 text-3xl'>
          <span class='flex items-center gap-x-6 font-medium'>
            {keyword}
            <Icon name='heroicons:circle-stack' class='h-10 w-10' />
          </span>
        </div>
      ))
    }
  </div>
  <div class='animate-marquee2 infinite absolute whitespace-nowrap'>
    {
      marqueeKeywords.map((keyword) => (
        <div class='inline-block px-6 text-3xl'>
          <span class='flex items-center gap-x-6 font-medium'>
            {keyword}
            <Icon name='heroicons:circle-stack' class='h-10 w-10' />
          </span>
        </div>
      ))
    }
  </div>
</div>
