---
import { Image } from 'astro:assets'

interface Props {
  name: string
  avatarSrc: string
  comment: string
}

const { name, avatarSrc, comment } = Astro.props
---

<div
  id='test-card'
  arial-label='Testimonial card'
  class='grid grid-cols-1 gap-7 rounded-md border border-white p-6'
>
  <div class='flex items-center gap-x-4'>
    <Image
      src={avatarSrc}
      alt='Paul Valladares'
      width='70'
      height='70'
      class='rounded-full'
    />
    <h3 class='text-xl'>{name}</h3>
  </div>
  <p>
    {comment}
  </p>
</div>
