---
import { getCollection } from 'astro:content';
import BlogCard from '../../components/BlogCard.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

const blogPosts = await getCollection('blog');
---

<BaseLayout>
    <section class='studiocms-container mx-auto py-12 px-8 md:px-0 min-h-[calc(100vh_-_70px)]'>
        <h1 class="text-5xl font-bold mb-8">The StudioCMS Blog</h1>
        <p class="mb-12 text-lg">Get the latest news from StudioCMS</p>
        <div class="grid md:grid-cols-3">
            {
                blogPosts.map(post => (
                    <BlogCard
                        post={ post }
                    />
                ))
            }
        </div>
    </section>
</BaseLayout>