---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<html
  class='scrollbar scrollbar-thumb-white scrollbar-track-[#1a172e] text-[--purple-900] dark:text-[--white-50]'
  lang='en'
>
  <Head />
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
