---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import Navbar from '../components/Navbar.astro';
---

<html
  class='scrollbar scrollbar-thumb-white scrollbar-track-[#1a172e] text-[--purple-900] dark:text-[--white-50]'
  lang='en'
>
  <Head />
  <body>
    <!-- <div class="min-h-[100vh] w-full max-w-full grid grid-rows-[auto_1fr]"> -->
      <Navbar />
      <slot />
    <!-- </div> -->
    <Footer />
  </body>
</html>
