---
import { Admins,  Pages, db, eq } from 'astro:db';
import { marked } from 'marked';
import Default from '../layouts/Default.astro';
import type { Locals } from './dashboard/locals';

const locals = Astro.locals as Locals;
const isLoggedIn = locals.isLoggedIn;

const getUserName = () => {
  if (locals.isLoggedIn) {
	if (locals.dbUser.name) {
		return locals.dbUser.name;
	} else {
		return locals.user.username;
	}
  } else {
	return 'Fellow Astronaut';
  }
};


const postArrayed = await db.select().from(Pages).where(eq(Pages.slug, "index"));

const post = postArrayed[0];

const adminList = await db.select().from(Admins);

const isAdmin = async (user: string) => {
    if (adminList.includes({GitHubUsername: user})) {
        return true;
    }
    return false;
};

type Props = {
	post: typeof Pages.$inferSelect;
};

---

<Default>
		<main>
			{isLoggedIn && <h1>Hello, {getUserName}!</h1>}
			{ //@ts-ignore
			isLoggedIn && isAdmin(locals.dbUser.username) && (
				<a href={`/dashboard/edit/home`}><button class="btn">✏️ Edit Page</button></a>
				)}
			
			
		<Fragment 
		set:html={marked(post.content, { async: true })} />

		</main>
</Default>
<style>
    .btn {
        padding: 0.5rem;
        background-color: rgb(184, 184, 184);
        font-weight: bold;
        color: #202020;
        border: 1px solid #202020;
        border-radius: 99rem;
        cursor: pointer;
		float: right;
    }
</style>