---
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon/components';
import Image from 'astro/components/Image.astro';
import FeatureCard from '../components/FeatureCard.astro';
import Hero from '../components/Hero.astro';
import Marquee from '../components/Marquee.astro';
import Separator from '../components/Separator.astro';
// import TestimonialCard from '../components/TestimonialCard.astro';
import { GITHUB_URL, SPONSOR_URL } from '../constants';
import BaseLayout from '../layouts/BaseLayout.astro';
import sponsors from '../share-link';

const features = (await getCollection('features')).sort(
	({ data: { sortOrder: a } }, { data: { sortOrder: b } }) => a - b
);

// const testimonials = await getCollection('testimonials');
---

<script>
  import { animate, inView } from 'motion'

  // DOM Nodes
  const hero = document.getElementById('hero') as HTMLElement
  inView(hero, () => {
    animate(hero, { opacity: [0, 1], y: [60, 0] }, { duration: 2 })
  })
</script>

<BaseLayout>
  <Hero />
  <span class="sr-only">Sponsor Section</span>
  <section class='studiocms-container mx-auto px-8 py-10 relative -translate-y-20 md:-translate-y-32'>
    <h3 class='text-center text-3xl font-semibold block'>Sponsored by</h3>
    <div class='flex flex-row flex-wrap align-center justify-center mb-12 relative'>
      <a href={sponsors.turso.web.sponsorLink} target="_blank" rel="sponsored">
        <Image src={'/sponsors/turso.svg'} alt={'Turso Logo'} width={410} height={120} class='dark:block hidden' loading={'eager'} />
        <Image src={'/sponsors/turso-dark.svg'} alt={'Turso Logo'} width={410} height={120} class='block dark:hidden' loading={'eager'} />
      </a>
    </div>
  </section>
  <span class='sr-only'>Features section</span>
  <section class='studiocms-container mx-auto px-8 py-10'>
    <h2 class='mb-4 md:mb-8 text-center text-5xl font-bold'>Features</h2>
    <div class='grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3'>
      {features.map(({ data }) => <FeatureCard {...data} />)}
    </div>
  </section>
  <span class='sr-only'>Marquee with Keywords</span>
  <section>
    <Marquee />
  </section>
  <span class='sr-only'>Pricing section</span>
  <section class='studiocms-container mx-auto py-10 px-8'>
    <div class='mx-auto flex flex-col items-center justify-center pb-10'>
      <h2 class='mb-4 text-5xl font-bold'>Pricing</h2>
      <p class='text-xl text-center max-w-[60ch]'>
        Dive into our open-source adventure - it's totally free, no price tags
        here! But hey, if you're feeling the vibe, jump in and contribute in
        your own awesome way. Code, ideas, high-fives? We love it all!
      </p>
    </div>
    <div
      class='mx-auto flex py-8 flex-col items-center justify-center gap-x-16 gap-y-10 md:flex-row'
    >
      <a
        class='flex items-center gap-x-4 transition-all duration-200 ease-in-out hover:scale-105 hover:cursor-pointer hover:text-yellow-400 bg-slate-300 dark:bg-neutral-900/90 rounded-lg px-4 py-3'
        href={GITHUB_URL}
      >
        <h3 class='text-center text-2xl relative top-px'>Star it</h3>
        <Icon name='star' class='text-2xl' />
      </a>
      <Separator orientation='vertical' extraClasses='h-3/5' />
      <a
        class='flex items-center gap-x-4 transition-all duration-200 ease-in-out hover:scale-105 hover:cursor-pointer hover:text-green-400'
        href={SPONSOR_URL}
      >
        <h3 class='text-center text-2xl'>Sponsor it</h3>
        <Icon name='sponsor' class='text-4xl' />
      </a>
    </div>
  </section>

  <!-- { testimonials.length > 0 && (
    <span class='sr-only'>Testimonials section</span>
    <section class='container mx-auto px-4 pb-20'>
      <div class='mx-auto flex flex-col items-center justify-center pb-10'>
        <h2 class='pb-8 text-5xl font-bold'>Testimonials</h2>
        <p class='w-3/5 text-center text-xl'>
          Look what our awesome community has to say about us. We're so grateful
          for the love and support we've received. It's what keeps us going!
        </p>
      </div>
      <div class='grid grid-cols-1 gap-8 pt-10 sm:grid-cols-2 md:grid-cols-3'>
        {testimonials.map(({ data }) => <TestimonialCard {...data} />)}
      </div>
    </section>
  )} -->
</BaseLayout>
