---
import { ROADMAP_URL } from '../constants';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
    <section
      id='hero'
      class='h-hero grid place-items-center bg-slate-100 p-4 md:p-6 text-gray-900 dark:bg-[--purple-900] dark:text-slate-100'
    >
      <div class='panel relative z-10 rounded-[30px]'>
        <div class='panel-inner flex flex-col items-center px-4 py-8 md:p-16'>
          <h1 class='mb-8 text-center text-5xl font-bold md:text-8xl'>
            StudioCMS Roadmap
          </h1>
          <p class='mb-2 text-center text-lg font-bold md:text-xl'>
            You will be redirected to the roadmap in a few seconds.
        </p>
        <p class='mb-2 text-center text-lg font-bold md:text-xl'>
            If you are not redirected, click <a id="roadmap-url" href={ROADMAP_URL} class='text-blue-500'>here</a>.
        </p>
        </div>
      </div>
    </section>
    <script>
        setTimeout(() => {
            window.location.assign((document.getElementById('roadmap-url') as HTMLAnchorElement).href);
        }, 2000);
    </script>

</BaseLayout>