---
import { Card as StarlightCard } from '@astrojs/starlight/components';
export type Props = Parameters<typeof StarlightCard>[0];
---

<div class="landing-card">
	<StarlightCard {...Astro.props}><slot /></StarlightCard>
</div>

<style>
	.landing-card {
		--card-bg: var(--sl-color-bg-nav) !important;
		display: contents;
		color: var(--sl-color-white);
		margin-top: 1rem !important;
		margin-bottom: 1rem !important;
	}
	
	:global(:root[data-theme='light']) .landing-card {
		--card-bg: rgba(255, 255, 255, 0.8);
	}

	.landing-card :global(.card) {
		overflow: hidden;
		background: var(--card-bg);
		position: relative;
	}

	.landing-card :global(.card > *) {
		z-index: 1;
	}

	.landing-card :global(.card .icon) {
		border: 1px solid var(--sl-card-border);
		background-color: var(--sl-card-bg);
		padding: 0.2em;
		border-radius: 0.25rem;
		color: var(--sl-color-gray-7);
	}

	.landing-card :global(.card) {
		--sl-card-bg: var(--sl-color-accent-low);
		--sl-card-border: var(--sl-color-accent-high);
		--landing-card-accent: var(--sl-color-accent);
	}

	.landing-card:nth-child(2n) :global(.card) {
		--sl-card-bg: var(--landing-card-2nd-accent-low);
		--sl-card-border: var(--landing-card-2nd-accent-high);
		--landing-card-accent: var(--landing-card-2nd-accent);
	}
</style>