@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--purple-900: #101010;
		--blob-dark: #aa87f4;
		--blob-light: #201b4b;
		--white-50: #fafafa;
	}

	body {
		@apply bg-slate-100 text-[--purple-900] dark:bg-[--purple-900] dark:text-slate-100;
	}

	p,
	span,
	a,
	li,
	label,
	input,
	textarea,
	button {
		font-weight: 300;
	}

	/* Animated border */

	@property --border-angle {
		inherits: false;
		initial-value: 0deg;
		syntax: "<angle>";
	}

	/* Blob Stuff from Hero */

	#blob {
		animation: change-blob 7.5s linear infinite;
		transition: d 0.5s ease;
		transform-origin: center;
	}

	.panel {
		position: relative;
		overflow: hidden;
	}

	@keyframes change-blob {
		0%,
		100% {
			opacity: 1;
		}

		50% {
			opacity: 0.75;
		}
	}

	code::before,
	code::after {
		content: "" !important;
	}
}

.studiocms-container {
	@apply container lg:max-w-[1000px] xl:max-w-[1200px];
}

#mobile-dropdown-icon-container {
	display: none;
}

@media screen and (max-width: 768px) {
	#mobile-dropdown-icon-container {
		display: block;
	}

	.text-link {
		display: none;
	}

	.navbar-icon {
		display: none;
	}
}

#mobile-dropdown-container {
	position: absolute;
	top: calc(32px + 16px);
	right: 0;
	flex-direction: column;
	background-color: #151515;
	border-radius: 8px;
	border: 1px solid #29292d;
	z-index: 20;
	box-shadow: 0px 4px 4px #000;
	display: none;

	&.active {
		display: flex;
	}
}

.dropdown-icons {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	padding: .5rem 1rem;
	border-top: 1px solid #29292d;
}

#mobile-dropdown-container a:not(.dropdown-icon) {
	padding: .5rem 1rem;
	width: 100%;
}

#mobile-dropdown-container a:not(.dropdown-icon):hover {
	background-color: #191919;
	text-decoration: none;
}
