@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--purple-900: #101010;
		--blob-dark: #aa87f4;
		--blob-light: #201b4b;
		--white-50: #fafafa;
	}

	body {
		@apply bg-slate-100 text-[--purple-900] dark:bg-[--purple-900] dark:text-slate-100;
	}

	p,
	span,
	a,
	li,
	label,
	input,
	textarea,
	button {
		font-weight: 300;
	}

	/* Animated border */

	@property --border-angle {
		inherits: false;
		initial-value: 0deg;
		syntax: "<angle>";
	}

	/* Blob Stuff from Hero */

	#blob {
		animation: change-blob 10s linear infinite;
		transition: d 0.5s ease;
		transform-origin: center;
	}

	.panel {
		position: relative;
		overflow: hidden;
	}

	@keyframes change-blob {
		0%, 100% {
			opacity: 1;
		}

		50% {
			opacity: .85;
		}
	}

	code::before,
	code::after {
		content: "" !important;
	}
}

.studiocms-container {
	@apply container lg:max-w-[1000px] xl:max-w-[1200px];
}
