---
import Starter from '../layouts/Starter.astro';
---
<Starter>
	<center>
		<h1>Setup Done!</h1>
	</center>

	<p>You can now stop your dev server and add the following option in your astro.config to start using Astro-StudioCMS then start back up to see your new CMS data</p>

</Starter>