---
import { Pages, db, eq } from 'astro:db';
import { marked } from 'marked';
import Default from '../layouts/Default.astro';

const postArrayed = await db.select().from(Pages).where(eq(Pages.slug, "index"));

const post = postArrayed[0];

type Props = {
	post: typeof Pages.$inferSelect;
};

---

<Default>
		<main>
		<Fragment 
		set:html={marked(post.content, { async: true })} />

		</main>
</Default>
<style>
    .btn {
        padding: 0.5rem;
        background-color: rgb(184, 184, 184);
        font-weight: bold;
        color: #202020;
        border: 1px solid #202020;
        border-radius: 99rem;
        cursor: pointer;
		float: right;
    }
</style>