---
import { Admins, SiteConfig, db } from 'astro:db';
import { VirtualLayout } from 'virtual:astro-studio-cms:layout';

export const getAstroBaseURL = () => {
    return import.meta.env.BASE_URL
};

if (Astro.request.method === 'POST') {
    const formData = await new Request(Astro.request.url, {
        method: Astro.request.method,
        headers: Astro.request.headers,
        body: Buffer.from(await Astro.request.arrayBuffer()),
    }).formData();

    const title = formData.get('title');
    const description = formData.get('description');
    const admin = formData.get('admin');

    await db.insert(SiteConfig)
        .values({
            title: title as string,
            description: description as string,
        }).then(() => {
            return new Response('Success', { status: 200 });
        }).catch(() => {
            return new Response('Error', { status: 500 });
        });

    await db.insert(Admins)
        .values({
            GitHubUsername: admin as string,
        }).then(() => {
            return new Response('Success', { status: 200 });
        }).catch(() => {
            return new Response('Error', { status: 500 });
        });

    return Astro.redirect(`${getAstroBaseURL()}done/`)
}

---

<VirtualLayout>
        <div class="dash">
            <center>
                <h1>Welcome to Astro-Studio-CMS</h1>
            </center>

            <p>
                <bold>What is Astro-Studio-CMS?</bold> <br>
                Astro-Studio-CMS is a simple, easy to use, and fast CMS for Astro. It's built with the latest technologies and is designed to be as simple as possible. It's also open source and free to use. <br>
                <bold>How do I use it?</bold> <br>
                To use Astro-Studio-CMS, you need to have a basic understanding of Astro and how it works. You can use the CMS to create, edit, and delete posts. You can also use it to manage your site's settings and more. <br>
                <bold>What's next?</bold> <br>
                The next step is to start by filling in your site details below!<br>
            </p>

            <div>

                <form method="post" enctype="multipart/form-data" >
                
                    <label for="title">Site Title</label><br>
                    <input 
                        type="text" 
                        id="title" 
                        name="title" 
                        placeholder="Astro Studio Blog" 
                        required><br>
                    <label for="description">Description</label><br>
                    <input
                        type="text" 
                        id="description" 
                        name="description" 
                        placeholder="My Awesome Blog"
                        required><br>
                    <label for="admins">Default Site Admin <info>( Just set one, You can add more later )</info> </label><br>
                    <input
                        type="text" 
                        id="admins" 
                        name="admins" 
                        placeholder="YourGitHubUsername"
                        required><br>

                    <center>
                        <button class="btn" type="submit">Initialize Database!</button>
                    </center>

                </form>

                
            </div>
        </div>
</VirtualLayout>

<style>
    .dash {
        padding: 2rem;
        border: 2px solid #ccc;
        border-radius: 5rem;
        background-color: #fff;
        margin: 2rem;
        
    }
    bold {
        font-weight: bold;
    }
    .font-small {
        font-size: 1rem;
    }
    .dash-header {
        display: flex;
        justify-content: space-between;
    }
    .right {
        display: flex;
        justify-content: flex-end;
        padding-right: 4rem;
    }
    .left {
        display: flex;
        justify-content: flex-start;
        padding-left: 4rem;
    }
    button {
        padding: 1rem;
        background-color: rgb(202, 0, 0);
        font-weight: bold;
        color: #fff;
        border: none;
        border-radius: 99rem;
        cursor: pointer;
    }
    .btn {
        padding: 1rem;
        background-color: rgb(0, 37, 202);
        font-weight: bold;
        color: #fff;
        border: none;
        border-radius: 99rem;
        cursor: pointer;
    }
    input {
        background-color: #f4f4f4;
        border-radius: 10px;
        padding: 0.25rem;
        border: rgb(124, 124, 124) 1px solid;
        width: 35vmax;
    }
    textarea {
        background-color: #f4f4f4;
        border-radius: 10px;
        padding: 0.25rem;
        border: rgb(124, 124, 124) 1px solid;
        width: 100%;
    }
    label {
        font-size: large;
        font-weight: bold;
    }
    .info-text {
        font-size: small;
        display: inline;
        font-style: italic;
    }
    info {
        font-size: small;
        display: inline;
        font-style: italic;
    }

</style>