---
import { getContributorBreakdown } from '../util/getContributors';
import FacePile from './FacePile.astro';

const breakdown = await getContributorBreakdown();
---

<div class="not-content">
	<div class="split-flex">

		{
			breakdown.map(({ name, contributors }) => {
				if (contributors.length === 0) return null;
				return (
					<div>
						<h5>{name}</h5>
						<FacePile contributors={contributors} />
					</div>
				)
			})
		}

	</div>
</div>

<style>
	.split-flex {
		display: grid;
		flex-direction: row;
		align-items: center;
		gap: 2rem;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.5rem;
	}

	.not-content h5 {
		font-size: large;
		width: 100%;
	}

	.not-content {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding: 0.5rem;
	}


	@media (min-width: 50rem) {
		.split-flex {
			grid-template-columns: 1fr 1fr;
		}
	}
</style>