---
import { Image } from 'astro:assets';

export interface Props {
	galleryImages: Array<{
		imageMetadata: ImageMetadata;
		alt: string;
	}>;
}

const { galleryImages } = Astro.props;
---
<div class="grid not-content">
  {galleryImages.map((image) => (
    <starlight-image-zoom-zoomable>
      <Image
        src={image.imageMetadata}
        alt={image.alt}
        width="1280"
        height="1900"
        class="image"
      />
    </starlight-image-zoom-zoomable>
  ))}
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(2, auto); /* only 3 here */
    /* grid-auto-rows: 100px; */
    grid-auto-flow: dense; /* don't forget this */
    gap: 1rem;
    justify-content: center;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
  }
</style>
<style is:global>
  .starlight-image-zoom-control {
    transition: all .15s ease;
    cursor: pointer;
  }

  .starlight-image-zoom-control:hover {
    background-color: var(--sl-color-gray-5);
  }
</style>
