---
type Props = {
  vertical?: boolean;
  gapSize?: 'sm' | 'md' | 'lg';
};

const { vertical = false, gapSize = 'md' } = Astro.props;
---
<div class="preview-card not-content" class:list={[vertical && "vertical", gapSize]}>
  <slot />
</div>
<style>
  .preview-card {
    border: 1px solid var(--sl-color-gray-5);
    border-radius: 4px;
    padding: 4rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .preview-card.vertical {
    flex-direction: column;
  }

  .preview-card.sm {
    gap: .5rem;
  }

  .preview-card.lg {
    gap: 2rem;
  }
</style>
