---
import s from '~/share-link';
---

<div class="sponsors">
	<span class="sponsors-title">Sponsored By</span>
	<a
		href={s.turso.docs.sidebarSponsorLink}
		aria-label="Turso Tech"
		target="_blank" 
		rel="sponsored"
	>
    {/* Turso Tech Logo (Adapted for light/dark mode using CSS in the main custom.css file) */}
    <svg class="turso-logo" height="40" viewBox="0 0 821 240" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M209.765 35V65.78L195.225 69.53L186.115 58.56L181.305 68.02C171.385 65.32 157.725 63.58 138.935 63.58C120.145 63.58 106.485 65.33 96.5651 68.02L91.7551 58.56L82.6451 69.53L68.1051 65.78V35C68.1051 35 43.6151 55.67 38.9451 83.61L71.0851 94.73C72.1351 114.16 80.8751 166.61 83.3751 171.37C86.0351 176.44 100.155 190.93 111.205 196.5C111.205 196.5 115.205 192.27 117.645 188.54C120.745 192.19 136.755 204.99 138.945 204.99C141.135 204.99 157.145 192.19 160.245 188.54C162.685 192.27 166.685 196.5 166.685 196.5C177.735 190.93 191.855 176.44 194.515 171.37C197.015 166.61 205.755 114.16 206.805 94.73L238.945 83.61C234.255 55.67 209.765 35 209.765 35ZM192.725 128.36L170.975 130.3L172.885 156.97C172.885 156.97 159.655 167.92 138.925 167.92C118.195 167.92 104.965 156.97 104.965 156.97L106.875 130.3L85.1251 128.36L81.4051 98.32L117.455 110.8L114.655 148.19C121.355 149.89 128.405 151.58 138.935 151.58C149.465 151.58 156.505 149.89 163.205 148.19L160.405 110.8L196.455 98.32L192.735 128.36H192.725Z" fill="#4FF8D2"/>
        <path d="M278.225 84.42L309.295 88.24V177.83H337.255V88.24L368.155 84.42V62.17H278.225V84.42Z" fill="#4FF8D2"/>
        <path d="M444.505 131.53C444.505 144.57 438.145 153.76 424.915 153.76C411.685 153.76 404.985 144.74 404.985 131.7V62.17H377.025V131.7C377.025 160.61 391.925 180 424.585 180C457.245 180 472.475 159.44 472.475 131.53V62.17H444.515V131.53H444.505Z" fill="#4FF8D2"/>
        <path d="M562.555 96.6C562.555 74.71 550.325 62.17 526.055 62.17H486.205V177.82H514.005V130.35H521.545L544.315 177.82H574.285L547.825 125.01C557.205 119.33 562.565 109.47 562.565 96.6H562.555ZM523.705 107.63H513.995V86.24H523.705C529.895 86.24 533.745 90.42 533.745 96.77C533.745 103.12 530.065 107.63 523.705 107.63Z" fill="#4FF8D2"/>
        <path d="M626.685 109.47L612.115 103.79C604.245 100.78 601.565 97.44 601.565 92.59C601.565 87.74 604.745 83.9 611.115 83.9C617.485 83.9 621.325 88.91 621.165 96.1H646.945C648.125 75.54 638.245 60 610.945 60C588.345 60 573.605 74.04 573.605 94.26C573.605 108.3 579.795 119.66 591.525 125.68C597.885 128.86 603.745 131.03 609.605 133.37C617.135 136.21 621.825 139.39 621.825 145.9C621.825 152.41 617.135 156.1 610.775 156.1C601.565 156.1 598.715 148.91 599.055 141.56H572.595C571.595 158.44 577.615 180 610.775 180C634.045 180 650.625 166.3 650.625 142.9C650.625 125.69 641.745 115.66 626.675 109.47H626.685Z" fill="#4FF8D2"/>
        <path d="M716.775 60C681.115 60 656.665 86.57 656.665 120.17C656.665 153.77 679.775 180 717.615 180C755.455 180 778.235 153.43 778.235 119.67C778.235 85.91 754.625 60 716.775 60ZM717.445 153.93C698.185 153.93 685.965 139.06 685.965 120C685.965 100.94 696.855 86.07 717.275 86.07C737.695 86.07 748.925 101.11 748.925 120C748.925 138.89 737.875 153.93 717.445 153.93Z" fill="#4FF8D2"/>
        </svg>
	</a>
</div>

<style>
	.sponsors {
		display: flex;
		flex-wrap: wrap;
		margin-top: 1rem;
		border-top: 1px solid var(--sl-color-gray-4);
		padding-top: 1rem;
	}

	a {
		display: flex;
		align-items: center;
		min-height: 3rem;
		opacity: 0.75;
		margin: auto;
	}

	a:hover {
		opacity: 1;
	}
	svg {
		color: var(--sl-color-white);
		fill: currentColor;
	}

	.sponsors-title {
		width: 100%;
		color: var(--sl-color-gray-3);
		font-size: var(--sl-text-xs);
		font-weight: 400;
		font-family: var(--__sl-font-mono);
		line-height: var(--sl-line-height-headings);
		margin: 0 0 0.5rem;
		text-align: center;
	}
</style>
