---
import { AstroError } from 'astro/errors';
import type { Element, Root } from 'hast';
import { select } from 'hast-util-select';
import { rehype } from 'rehype';

let hLevel = 'h1';
rehype()
	.data('settings', { fragment: true })
	.use(() => (tree: Root) => {
		const rootElements = tree.children.filter((item): item is Element => item.type === 'element');
		const [rootElement] = rootElements;
		const headingElement = select('h1, h2, h3, h4, h5, h6', tree);
		if (!rootElement) {
			throw new AstroError(
				'No content passed to `<StudioHeading>` component, expected a Markdown heading.'
			);
		}
		if (rootElements.length > 1) {
			throw new AstroError(
				`\`<StudioHeading>\` component must contain a single Markdown heading. Found: ${rootElements.map((el) => `<${el.tagName}>`).join(', ')}`
			);
		}
		if (!headingElement) {
			throw new AstroError(
				'`<StudioHeading>` component must contain a heading, but could not find one.'
			);
		}
		hLevel = headingElement.tagName;
	})
	.processSync({ value: await Astro.slots.render('default') });
---

<div class={`studio-tag-wrapper level-${hLevel}`}>
	<slot />

	<span class="studio-tag">
        <svg aria-hidden="true" width="16" height="16" viewBox="0 0 128 128">
            <path d="M47.7 107.1c-5.5-5-7.2-15.7-4.9-23.4 4 4.9 9.6 6.4 15.4 7.3 8.9 1.3 17.6.8 25.9-3.2l2.8-1.7a18 18 0 0 1-7.2 20l-5.5 3.8c-5.6 3.8-7.2 8.2-5 14.7l.2.7a14 14 0 0 1-6.6-5.6 15.8 15.8 0 0 1-2.6-8.6c0-1.5 0-3-.2-4.5-.5-3.7-2.2-5.3-5.5-5.4-3.3-.1-5.9 2-6.6 5.2l-.2.7ZM16 82.4s16.5-8 33-8l12.4-38.3c.5-2 1.8-3.2 3.3-3.2 1.6 0 3 1.3 3.4 3.2l12.4 38.3c19.6 0 33 8 33 8l-28-76c-.8-2.3-2.2-3.7-4-3.7H48c-1.8 0-3.1 1.4-4 3.7l-28 76Z" fill="currentColor"/>
            <path fill="url(#astrologo)" d="M47.7 107.1c-5.5-5-7.2-15.7-4.9-23.4 4 4.9 9.6 6.4 15.4 7.3 8.9 1.3 17.6.8 25.9-3.2l2.8-1.7a18 18 0 0 1-7.2 20l-5.5 3.8c-5.6 3.8-7.2 8.2-5 14.7l.2.7a14 14 0 0 1-6.6-5.6 15.8 15.8 0 0 1-2.6-8.6c0-1.5 0-3-.2-4.5-.5-3.7-2.2-5.3-5.5-5.4-3.3-.1-5.9 2-6.6 5.2l-.2.7Z"/>
            <defs>
              <linearGradient id="astrologo" x1="64.7" x2="77.4" y1="119.2" y2="77.4" gradientUnits="userSpaceOnUse">
                <stop stop-color="#D83333"/>
                <stop offset="1" stop-color="#F041FF"/>
              </linearGradient>
            </defs>
        </svg>
		<a href="https://docs.astro.build/en/guides/astro-db/#astro-studio"><span>Astro Studio Account Required</span></a>
	</span>
</div>

<style>
	.studio-tag-wrapper {
		/* Display feature tag above its associated heading. */
		display: flex;
		flex-direction: column-reverse;
		/* Reinstate heading-style spacing. */
		margin-top: 1.5em !important;
	}

	.studio-tag {
		--highlight-color: var(--sl-color-accent);
		--shade-color: var(--sl-color-accent-low);;
		--highlight-position: 0%;

		/* Pull inline axis out so it meets the viewport edge on smaller viewports. */
		margin-inline: calc(-1 * var(--sl-content-pad-x));

		/** Pull following content up over the gradient background. */
		--pad-top: 0.875rem;
		--pad-bottom: 0.375rem;
		--bottom-overlap: 2rem;
		padding: var(--pad-top) var(--sl-content-pad-x) calc(var(--pad-bottom) + var(--bottom-overlap));
		margin-bottom: calc(-1 * var(--bottom-overlap));

		display: flex;
		align-items: center;
		gap: 0.5em;

		border-top: 1px solid;
		border-image-source: linear-gradient(
			to right,
			transparent,
			var(--highlight-color) var(--highlight-position),
			transparent
		);
		border-image-slice: 1;

		background:
		/* Mask layer which fades to the page background color to the left and right */
			linear-gradient(
				to right,
				var(--sl-color-bg),
				transparent var(--highlight-position),
				var(--sl-color-bg)
			),
			/* Colour layer which fades to transparent at the bottom of the element. */
				linear-gradient(to bottom, var(--shade-color), transparent);

		color: var(--sl-color-white);
		line-height: var(--sl-line-height-headings);
		font-size: var(--sl-text-xs);
		font-family: var(--__sl-font-mono);

		/* Firefox */
		z-index: -1;
	}
	:global([dir='rtl']) .studio-tag:not(:where([dir='rtl'] [dir='ltr'] *)) {
		--highlight-position: 100%;
	}
	@media (min-width: 88.5em) {
		/** On larger screens fade out inline-start edge too. */
		.studio-tag {
			--highlight-position: 10%;
		}
		:global([dir='rtl']) .studio-tag:not(:where([dir='rtl'] [dir='ltr'] *)) {
			--highlight-position: 90%;
		}
	}
</style>