---
import { Aside } from '@astrojs/starlight/components';
import ReadMore from './ReadMore.astro';
---
<Aside type="danger" title="Sunset">
    Astro Studio is currently in a sunset phase and users will no longer be able to create new databases after <strong><code>October 1st, 2024</code></strong>. We recommend using another libSQL provider such as <a href="https://turso.tech" target="_blank">Turso</a> or self-hosting your own <a href="https://github.com/tursodatabase/libsql/tree/main" target="_blank">libSQL server</a>.
</Aside>
    
<ReadMore>For more information regarding the sunset of Studio, see <a href="https://astro.build/blog/goodbye-astro-studio/" target="_blank">Astro's 'Goodbye Studio, Hello DB' Blog Post</a></ReadMore>