---
import { YouTube } from 'astro-embed';
---
<div>
    <YouTube id="Ukh3Zb9VjIM" title="Welcome to StudioCMS"/>
</div>

<style>
  :global(lite-youtube) {
    margin-left: auto;
    margin-right: auto;
  }
</style>
