---
import { YouTube } from 'astro-embed';

interface Props {
	id: string;
	title: string;
}

const { id, title } = Astro.props;
---
<div>
    <YouTube id={id} title={title} />
</div>

<style>
  :global(lite-youtube) {
    margin-left: auto;
    margin-right: auto;
  }
</style>
