---
import { YouTube } from 'astro-embed';
---
{/*
    @jdtjenkins Because i know your going to complain about the center tag... the only way i could get the Youtube Embed to center was to wrap it in a center tag. I tried using the style tag but it didn't work. If you know a better way to center the video please let me know.

    This is partially due to the internal CSS provided by astro-embed. As well as Starlight CSS

    - @adammatthiesen
*/}
<div>
    <YouTube id="Ukh3Zb9VjIM" title="Welcome to StudioCMS"/>
</div>

<style>
  :global(lite-youtube) {
    margin-left: auto;
    margin-right: auto;
  }
</style>
