#toaster {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	pointer-events: none;
}

#toast-drawer {
	max-width: 420px;
	width: 100%;
	height: fit-content;
	position: absolute;
	display: flex;
	flex-direction: column;
}

#toaster.top-left #toast-drawer,
#toaster.bottom-left #toast-drawer {
	left: 50%;
	transform: translateX(-50%);
}

.toast-container {
	pointer-events: all;
	padding: 1rem;
	border-radius: .5rem;
	border: 1px solid hsl(var(--border));
	background-color: hsl(var(--background-base));
	box-shadow: 0px 4px 8px hsl(var(--shadow), 0.5);
	display: flex;
	flex-direction: column;
	gap: .5rem;
	position: relative;
	overflow: hidden;
	margin-bottom: var(--gap);
	animation: toast-pop-in .25s ease forwards;
}

.toast-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.toast-header-left-side {
	display: flex;
	flex-direction: row;
	gap: .5rem;
	align-items: center;
	font-weight: 500;
	font-size: 1.125em;
}

.toast-header-left-side svg {
	color: hsl(var(--primary-base));
}

.toast-container.success .toast-header-left-side svg {
	color: hsl(var(--success-base));
}

.toast-container.warning .toast-header-left-side svg {
	color: hsl(var(--warning-base));
}

.toast-container.danger .toast-header-left-side svg {
	color: hsl(var(--danger-base));
}

.toast-progress-bar {
	position: absolute;
	height: 4px;
	width: 100%;
	bottom: 0;
	left: 0%;
	background-color: hsl(var(--primary-base));
	animation: toast-progress forwards linear;
}

.toast-container.success .toast-progress-bar {
	background-color: hsl(var(--success-base));
}

.toast-container.warning .toast-progress-bar {
	background-color: hsl(var(--warning-base));
}

.toast-container.danger .toast-progress-bar {
	background-color: hsl(var(--danger-base));
}

.close-icon-container {
	cursor: pointer;
	height: 1.5rem;
	width: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color .15s ease;
	border-radius: .25rem;
}

.close-icon-container:hover {
	background-color: hsl(var(--default-base));
}

.toast-container.closing {
	animation: toast-closing .25s ease forwards;
}

@keyframes toast-pop-in {
	0% {
		opacity: 0;
		scale: 0.75;
	}
	100% {
		opacity: 1;
		scale: 1;
	}
}

@keyframes toast-closing {
	0% {
		opacity: 1;
		scale: 1;
		max-height: 500px;
		margin-bottom: var(--gap);
		padding: 1rem;
		border: 1px solid hsl(var(--border));
	}
	62.5% {
		scale: 0.75;
		opacity: 0;
		max-height: 500px;
		margin-bottom: var(--gap);
		padding: 1rem;
		border: 1px solid hsl(var(--border));
	}
	100% {
		scale: 0.75;
		opacity: 0;
		max-height: 0px;
		margin-bottom: 0;
		padding: 0;
		border: 0px solid hsl(var(--border));
	}
}

@keyframes toast-progress {
	0% {
		left: 0%;
	}
	100% {
		left: -100%;
	}
}
