name: Auto Issue Branch

on:
  issues:
    types: [ opened, assigned ]
  issue_comment:
    types: [ created ]
  pull_request:
    types: [ opened, closed ]

permissions:
  issues: write
  pull-requests: write

jobs:
  create_issue_branch_job:
    runs-on: ubuntu-latest
    steps:
      - name: Create Issue Branch
        uses: robvanderleek/create-issue-branch@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
